In [5]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [24]:
#text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."

flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

text = "My two favorite flowers are {0} and {1}, two favorite colors are {2} and {3}.".format(flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [38]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
sentence = "I am 40 years old.{0} I have two children.{1} Data Science is my IT domain.".format(escapes[0],escapes[2][1])
print(sentence)

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [41]:
print(type(3.14))

<class 'float'>

In [42]:
print("""'kskks
kskkks
kskkks""")

'kskks
kskkks
kskkks

In [43]:
print('''')

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-43-4b777b03c816>, line 1)

In [45]:
def if_elif(age,name):
    if age < 18:
       print(f"{name} is Student")
    else:
        print(f"{name} is worker")

if_elif(age=20,name="Ruslan")

Ruslan is worker

In [51]:
answer = "Please answer Yes/No"
age = input(f"Are you a cigarette addict older than 75 years old? {answer}").lower()
chronic = input(f"Do you have a severe chronic disease? {answer}").lower()
immune = input(f"Is your immune system too weak? {answer}").lower()

if age=='yes' or chronic=='yes' or immune=='yes':
    print("You are in risky group")
elif age=='no' and chronic=='no' and immune=='no':
    print("You are not in risky group")
else:
    print(f"{answer} for all 3 questions")

You are in risky group

In [1]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}
print(customers['insurance'][5]['age'])

22

In [6]:
num = list(123)
print(num)

TypeError: 'int' object is not iterable

In [8]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
family_members = tuple(family_members)
print(type(family_members))

<class 'tuple'>

In [9]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1>0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [16]:
for i in {'n1' : 'one', 'n2' : 'two'}.items() :
    print(i)

('n1', 'one')
('n2', 'two')

In [18]:
iterable = [1, 2, 3, 4]
for i in iterable:
    print(i**2)

1
4
9
16

In [19]:
print(998*2)

1996

In [27]:
number = int(input('Please enter a number: '))
while i in list(range(number)):
      print(i)