# Basic Data Types

## Introduction to Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

## Strings

Strings are immutable sequence data type, i.e each time one makes any changes to a string, a completely new string object is created. If you want to work with any textual characters in your code, you have to work with strings. The string type is called str. Strings are the most common and useful data type in Python.

In [ ]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

In [ ]:
e_mail = 'joseph@clarusway.com' # surrounded with single quotes
print(e_mail)

In [ ]:
print('632') # this is also a string type

In [4]:
'Brian\'s mother: He\'s not the Messiah. He\'s a very naughty boy!'

"Brian's mother: He's not the Messiah. He's a very naughty boy!"

Backslashes can also be used to escape tabs, arbitrary Unicode characters, and various other things that can't be reliably printed. These characters are known as escape characters.

Complete the code to create a string containing a double quote.

In [5]:
"\""

'"'

Newlines

Python provides an easy way to avoid manually writing "\n" to escape newlines in a string. Create a string with three sets of quotes, and newlines that are created by pressing Enter are automatically escaped for you.

In [ ]:
"""Customer: Good morning.
Owner: Good morning, Sir. Welcome to the National Cheese Emporium."""

## Numeric Types

 There are three distinct numeric types: signed integer numbers, floating point numbers and complex numbers.

In [ ]:
type(22)

In [ ]:
type(22.2)

In [1]:
type(3.14j)

complex

In [2]:
type('22.2')

str

## Boolean

Boolean types are called bool and their values are the two constant objects False and True. They are used to represent truth values (other values can also be considered false or true). In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

In [ ]:
tv_open = True  # it seems TV is on now
tv_open

In [ ]:
not tv_open

In [ ]:
is_rainy = False  # I love sunny weather
is_rainy

In [ ]:
tv_open & is_rainy

In [ ]:
tv_open | is_rainy

In [ ]:
tv_open and is_rainy

In [ ]:
tv_open or is_rainy

In [ ]:
tv_open & not is_rainy

In [ ]:
tv_open & (not is_rainy)

In [ ]:
tv_open/tv_open

In [ ]:
tv_open/is_rainy

## Type Conversion

We can convert the types of data to each other if the type allows to be converted. There are some functions to convert the types:

- str() converts to string type
- int() converts to signed integer type
- float() converts to floating point type

In [ ]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

In [ ]:
example2 = '71'
print(type(example2))

In [ ]:
example3 = 71
print(type(example3))

In [ ]:
example4 = 71.0
print(type(example4))

In [ ]:
example5 = 3.14j
print(type(example5))

In [ ]:
example6 = True
print(type(example6))

In [ ]:
f = 3.14  # the type is float

s = str(f)  # converting float to string
print(type(s))

In [ ]:
f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded
print(i, '\n')
print(type(i))

In [ ]:
i = 3

f = float(i)
print(f, '\n')
print(type(f))

In [3]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

## Variables

Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

In [11]:
5 | 4

5

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

To combine both text and a variable, Python uses the + character:

In [ ]:
x = "awesome"
print("Python is " + x)

You can also use the + character to add a variable to another variable:

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

For numbers, the + character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

If you try to combine a string and a number, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x + y)

Create a variable outside of a function, and use it inside the function

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Create a variable inside a function, with the same name as the global variable

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

A few things you could use:

- dir() will give you the list of in scope variables:
- globals() will give you a dictionary of global variables
- locals() will give you a dictionary of local variables

In [ ]:
globals()

In [ ]:
dir()

If you use the global keyword, the variable belongs to the global scope:

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

## Python Operators

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

### Python Arithmetic Operators

In [ ]:
x = 5
y = 3

print(x + y)

In [ ]:
x = 5
y = 3

print(x - y)

In [ ]:
x = 5
y = 3

print(x * y)

In [ ]:
x = 12
y = 3

print(x / y)

In [ ]:
x = 5
y = 2

print(x % y)

In [ ]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

In [ ]:
x = 15
y = 2

print(x // y) #the floor division // rounds the result down to the nearest whole number

### Python Assignment Operators

In [ ]:
x = 5

x += 3

print(x)

In [ ]:
x = 5

x -= 3

print(x)

In [ ]:
x = 5

x /= 3

print(x)

In [ ]:
x = 5

x%=3

print(x)

In [ ]:
x = 5

x//=3

print(x)

In [ ]:
x = 5

x **= 3

print(x)

In [ ]:
x = 5

x &= 3

print(x)

### Python Comparison Operators

In [ ]:
x = 5
y = 3

print(x == y)

In [ ]:
x = 5
y = 3

print(x != y)

In [ ]:
x = 5
y = 3

print(x > y)

In [ ]:
x = 5
y = 3

print(x < y)

In [ ]:
x = 5
y = 3

print(x >= y)

In [ ]:
x = 5

print(x > 3 and x < 10)

In [ ]:
x = 5

print(x > 3 or x < 4)

In [ ]:
x = 5

print(not(x > 3 and x < 10))

### Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [ ]:
print(x is z)

# returns True because z is the same object as x

In [ ]:
print(x is y)

# returns False because x is not the same object as y, even if they have the same content

In [ ]:
print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [ ]:
print(x is not z)

# returns False because z is the same object as x

In [ ]:
print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

In [ ]:
print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

### Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

## Operations with 'print( )' Function

In [ ]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

In [ ]:
print("yesterday I ate", 2, "apples")

In [ ]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

In [ ]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

In [ ]:
x = 5
print ('value of x       : ', x)

x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z       : ', z)

z *= 2
print ("2 times z        : ", z, "\n")

In [ ]:
fruit = 'Orange'
vegetable = "Tomato"
print (fruit, """ and """ , vegetable)

## Escape Sequences

Here are basic escape sequences in Python:

- \n : means new line,

- \t : means tab mark,

- \b : means backspace. It moves the cursor one character to the left.

In [ ]:
print('C:\\november\number_expenditure.txt')

In [ ]:
print("one", "two", "three", sep="\t") # separated by tab marks

In [ ]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

In [ ]:
print('we', 'are', 'united')

In [ ]:
print('it\'s funny to learn Python')

# Boolean Operations

## Order of Priority

Here are the operators in order of their priorities:

1. not
2. and
3. or

In [ ]:
logic = True and False or not False or False
print(logic)

## Truth Values of Logic Statements

The following values are considered False, in that they evaluate to False when applied to a boolean operator:

- None.
- Zero of any numeric type: 0, 0.0, 0j
- Empty sequences and collections: '', [], {}.
- Other than above values, any remaining value is evaluated as True.

In [ ]:
print(1 and 4)

In [ ]:
print(1 and 0)

In [ ]:
print(1 and "I am doing good!")

In [ ]:
print([] and "Hello World!")

In [ ]:
print(True and 4)

In [ ]:
print(1 or 4)

In [ ]:
print(None or 1)

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
x = ""
y = None

print(bool(x))
print(bool(y))

# The Strength of String in Python

## Indexing String

In [ ]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

In [ ]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

In [ ]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

## String Formatting with Arithmetic Syntax

There are several ways in Python that we use when processing and using string data structures. The most important of these are:

- Arithmetic syntax (+, *, and =),

- % operator formatting,

- string.format() method,

- f-string formatting.

In [ ]:
print('clarus' + 'way')

In [ ]:
print(3*'no way!')

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

In [ ]:
fruit = 'orange'
fruit += ' apple'

print(fruit)

In [ ]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

## String Formatting with '%' Operator

In [ ]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

Tips:
- In the '%s' syntax : s stands for 'string'.
- In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
- In the '%d' syntax : d stands for 'numeric'.

In [ ]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence)  # we get first 11 characters of the string

In [ ]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

## String Formatting with 'string.format()' Method

As in this example below, the value of expression comes from .format() method in order. Curly braces 👉🏻{} receives values from .format().

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

In [ ]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

In [ ]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

In [ ]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

## String Formatting with 'f-string'

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

In [ ]:
result = f"{4 * 5}"

print(result)

In [ ]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)